---
http_interactions:
- request:
    method: get
    uri: http://api-model-specs.com/posts
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: "[{\"name\":\"foo\"},{\"name\":\"bar\"}]"
  recorded_at: Thu, 28 Nov 2013 16:02:20 GMT

[...]
- request:
    method: put
    uri: http://api-model-specs.com/post/1
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"name\":\"something_else\"}"
  recorded_at: Thu, 28 Nov 2013 16:02:20 GMT

- request:
    method: post
    uri: http://api-model-specs.com/post/update_with_post
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"name\":\"something_else\"}"
  recorded_at: Thu, 28 Nov 2013 16:02:20 GMT

- request:
    method: get
    uri: http://api-model-specs.com/single_post
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"name\":\"foo\"}"
  recorded_at: Thu, 28 Nov 2013 16:02:20 GMT

- request:
    method: post
    uri: http://api-model-specs.com/create_with_json
    headers:
    body:
      string: "{\"name\":\"foobarbaz\"}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"name\":\"foobarbaz\"}"
  recorded_at: Thu, 28 Nov 2013 16:02:20 GMT

[...]
- request:
    method: put
    uri: http://api-model-specs.com/post/with_errors
    headers:
    body:
      string: "{\"name\":\"\"}"
  response:
    status:
      code: 400
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"errors\":{\"name\":\"Cannot be blank\"}}"
  recorded_at: Thu, 28 Nov 2013 16:02:20 GMT

- request:
    method: put
    uri: http://api-model-specs.com/post/with_nested_errors
    headers:
    body:
      string: "{\"name\":\"\"}"
  response:
    status:
      code: 400
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"result\":{\"errors\":{\"name\":\"Cannot be blank\"}}}"
  recorded_at: Thu, 28 Nov 2013 16:02:20 GMT

- request:
    method: put
    uri: http://api-model-specs.com/post/with_different_nested_errors
    headers:
    body:
      string: "{\"name\":\"\"}"
  response:
    status:
      code: 400
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"hello\":{\"errors\":{\"name\":\"Cannot be blank\"}}}"
  recorded_at: Thu, 28 Nov 2013 16:02:20 GMT

- request:
    method: put
    uri: http://api-model-specs.com/post/200_with_errors
    headers:
    body:
      string: "{\"name\":\"\"}"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"errors\":{\"name\":\"Cannot be blank\"}}"
  recorded_at: Thu, 28 Nov 2013 16:02:20 GMT

recorded_with: VCR 2.8.0
